
footer {
    margin-top: 3rem;
    padding: 3rem;
}

.bi {
    display: inline-block;
    fill: currentColor;
    width: 1rem;
    height: 1rem;
}

.bi-person {
    display: inline-block;
    fill: currentColor;
    font-size: 1.5rem;
   
}

.bi-cart3 {
    display: inline-block;
    fill: currentColor;
    font-size: 1.25rem;
    
}

body {
    padding-top: 80px;
}

#pildiKarusell {
    max-width: 1000px;
    max-height: 500px;
    overflow: hidden;
}

#pildiKarusell img {
    object-fit: cover; /* crop instead of squish */
    height: 400px; /* match carousel height */
  }


#scroll-container {
  scroll-behavior: smooth;
}